<main>
<<<<<<< HEAD
<h1>Hello </h1>
<h2>h</h2>

</main>
=======
<h1 class="text-center text-uppercase" >Hello </h1>
<h2 class="text-end text-lowercase">hi</h2>
<h3 class="text-start text-capitalize">hoy</h3>
<hr>
<div class="display-1 text-muted">Hello </div>
<div class="display-2">hi</div>
<div class="display-3">hoy</div>
<hr>
<div class="text-end">something
 <span class="text-muted"> muted</span>  
 <hr>

<botton class="btn btn-primary">
<span class="text-uppercase">click here!</span>
</botton>

<botton class="btn btn-secondary">
<span class="text-uppercase">you can click here</span>
</botton>


  <br>
     <div class="card">
    <div class="card-body">
      <ul><div style="color:rgb(192, 120, 12)" class="display-3">Subblock</div>
   {{#with subblock}}
    <li><b class="text-warning text-uppercase">{{title}}</b></li>
    {{text}}<br>
   <ul> 
   <botton class="btn btn-warning"> <i>Button text</i>
    </botton><br>
   {{#with button_text}}
         <botton class="btn btn-warning">
<span class="text-capitalize">{{solid}}</span>
</botton><br>
         <botton class="btn btn-outline-warning ">{{outline}}</botton> <br>
      {{/with}}
      </ul>
      </div>

      

<botton class="btn btn-danger">
<span class="text-uppercase">ahtung</span>
</botton>

<botton class="btn btn-success">
<span class="text-uppercase">Uwi</span>
</botton>

<botton class="btn btn-btn-lg">
<span class="text-uppercase">warning</span>
</botton>
<botton class="btn btn-info">
<span class="text-uppercase">info</span>
</botton>
<botton class="btn btn-light">
<span class="text-uppercase">light</span>
</botton>
<botton class="btn btn-dark">
<span class="text-uppercase">dark</span>
</botton>

<botton class="btn btn-link">
<span class="text-uppercase">link</span>
</botton>
<a href="#" class="btn btn-link">linkom</a>

</div>
<hr>
<p class="text-primary">primary</p>
<p class="text-secondary">secondary</p>
<p class="text-danger">danger</p>
<p class="text-success">success</p>
<p class="text-warning">warning</p>
<p class="text-info">info</p>
<p class="text-light; color: yellow">light</p>
<p class="text-dark">dark</p>
<hr>
<botton class="btn btn-outline-primary btn-lg">nn</botton>
<botton class="btn btn-outline-warning">warning</botton>
<botton class="btn btn-outline-danger btn-sm">danger</botton>
<hr>

<div class="card">
    <div class="card-body">
        <botton class="btn btn-outline-primary btn-lg">nn</botton>
<botton class="btn btn-outline-warning">warning</botton>
<botton class="btn btn-outline-danger btn-sm">danger</botton>

    
>>>>>>> 1ad9c123a83970f886cb764e7a84e32f2ebbc0c2
