
<main class="p-5">
  <header><h1>rumba</h1></header>
  {{>title data="My title"}}

  <h1>rumba-chujumba</h1>
<h2 style="color:#bb39d5"> This is text</h2>



<h1><i class="bi bi-cup-hot"></i>juk</h1>
<button class="btn btn-danger">
<i class="bi bi-dash-circle-fill"></i>
</button>
<hr>
<div class="display-1">
  <svg xmlns="http://www.w3.org/2000/svg" height="0.625em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#bb39d5}</style><path d="M94.12 315.1c0 25.9-21.16 47.06-47.06 47.06S0 341 0 315.1c0-25.9 21.16-47.06 47.06-47.06h47.06v47.06zm23.72 0c0-25.9 21.16-47.06 47.06-47.06s47.06 21.16 47.06 47.06v117.84c0 25.9-21.16 47.06-47.06 47.06s-47.06-21.16-47.06-47.06V315.1zm47.06-188.98c-25.9 0-47.06-21.16-47.06-47.06S139 32 164.9 32s47.06 21.16 47.06 47.06v47.06H164.9zm0 23.72c25.9 0 47.06 21.16 47.06 47.06s-21.16 47.06-47.06 47.06H47.06C21.16 243.96 0 222.8 0 196.9s21.16-47.06 47.06-47.06H164.9zm188.98 47.06c0-25.9 21.16-47.06 47.06-47.06 25.9 0 47.06 21.16 47.06 47.06s-21.16 47.06-47.06 47.06h-47.06V196.9zm-23.72 0c0 25.9-21.16 47.06-47.06 47.06-25.9 0-47.06-21.16-47.06-47.06V79.06c0-25.9 21.16-47.06 47.06-47.06 25.9 0 47.06 21.16 47.06 47.06V196.9zM283.1 385.88c25.9 0 47.06 21.16 47.06 47.06 0 25.9-21.16 47.06-47.06 47.06-25.9 0-47.06-21.16-47.06-47.06v-47.06h47.06zm0-23.72c-25.9 0-47.06-21.16-47.06-47.06 0-25.9 21.16-47.06 47.06-47.06h117.84c25.9 0 47.06 21.16 47.06 47.06 0 25.9-21.16 47.06-47.06 47.06H283.1z"/></svg>
</div>

<hr>
<div>
  <img src="/svg/slack.svg">
</div>
<div class="row-5">
  <div class="col-12">
    <div>
      <label class="form-label">1-Email address</label>
      <input type="color" class="form-control">
      <div class="form-text text-danger"><i class="bi bi-cloud-arrow-up-fill"> Error</i></div>

    </div>
  </div>
</div>
<hr class="mb-5 mt-5">


  <div class="col-12">
    <label class="form-label">2-Email address</label>
    <div class="row">
       <div class="col-2">
         <input type="email" class="form-control">
            </div>
            <div class="col-2">
         <input type="email" class="form-control">
            </div>
            <div class="col-2">
         <input type="email" class="form-control">
            </div>
       </div>
      <div class="form-text text-danger"> Error</div>
      </div>
    </div>

<hr class="mb-5 mt-5">
<div class="row-5">
  <div class="col-12">
    <div>
      <label class="form-label">3-Email address</label>
      <input type="button" class="form-control">
      <div class="form-text text-danger"> Error</div>

    </div>
  </div>
</div>




  <div class="col-12">
        <div class="row">
       <div class="col-4 pt-1">
         <label class="form-label">3-Email address</label>
            </div>
            <div class="col-4">
         <input type="email" class="form-control">
            </div>
            <div class="col-4 ps-5 pt-1">
         <div class="form-text text-danger"> Error</div>
            </div>
       </div>
      </div>


<hr class="mb-5 mt-5">

     <div class="col-12">
           <label class="form-label">Select role</label>
           <select class="form-select form-select-lg">
           <option selected>One list</option>
           <option value="1">Admin</option>
           <option value="2">User</option>
           </select>
           <div class="form-text text-danger"> Error</div>
     </div>

<hr class="mb-5 mt-5">

<div>

</div>
<hr>
<div class="col-12">
   <label class="form-label">Fruits</label>
  <div class="form-check">
       <label class="form-check-label">Apple</label>
    <input type="checkbox" class="form-check-input">
  </div>
    <div class="form-check">
       <label class="form-check-label">Apple</label>
    <input type="checkbox" class="form-check-input">
  </div>
    <div class="form-check">
       <label class="form-check-label">Apple</label>
    <input type="checkbox" class="form-check-input">
  </div>

<hr>
<div class="col-12">
   <label class="form-label">Fruits</label>
  <div class="form-check">
       <label class="form-check-label">Apple</label>
    <input name="food" type="radio" class="form-check-input">
  </div>
    <div class="form-check">
       <label class="form-check-label">Orange</label>
    <input name="food" type="radio" class="form-check-input">
  </div>
    <div class="form-check">
       <label class="form-check-label">Pine</label>
    <input name="food" type="radio" class="form-check-input">
  </div>
  <hr>


<div class="col-12">
   <label class="form-label">Bonus</label>
 
    <div class="form-check form-switch">
       <label class="form-check-label">yes</label>
    <input name="food" type="checkbox" class="form-check-input">
  </div>
  
  </div>


<hr class="mb-5 mt-5">
  <div class="row">
     <div class="col-12 mb-5">
       <div class="nav nav-tabs">
        <div class="nav-item">
         <a href="#" class="nav-link active">main</a>
        </div>
      <div class="nav-item">
    <a href="#" class="nav-link active">catalog</a>
  </div>
    <div class="nav-item">
        <a href="#" class="nav-link disabled">links</a>
 
  </div>
  </div>
  </div>
  <div class="col-5 pe-5">
  <div class="card">
  <div class="pt-4 pb-3 px-4">
<div class="nav flex-column">
  <div class="nav-item pb-2">
     <div class="card">
    <a href="#" class="nav-link">Home</a>
  </div>

  </div>
    <div class="nav-item pb-2">
      <div class="card">
    <a href="#" class="nav-link active">Cdjkjhi</a>
  </div>
  
  </div>
    <div class="nav-item pb-2">
      <div class="card">
    <a href="#" class="nav-link disabled">liinjo</a>
  </div>
  </div></div>
  </div>
  </div>
  </div>
  <div class="col-7 pe-5">
  <div class="card">
  <div class="card-body">
<div class="nav flex-column">
  <div class="nav-item">
     <div class="card">
    <a href="#" class="nav-link">Home</a>
  </div>
  <br>
  </div>
    <div class="nav-item">
      <div class="card">
    <a href="#" class="nav-link active">Cdjkjhi</a>
  </div>
  <br>
  </div>
    <div class="nav-item">
      <div class="card">
    <a href="#" class="nav-link disabled">liinjo</a>
  </div>
  </div></div>
  </div>
  </div>
  </div>
    </div>
  </nav>


<hr>

  <div class="row g-4">
     <div class="col-8">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
         <li class="breadcrumb-item">
          <a href="#">Gome</a>
        </li>
          <li class="breadcrumb-item">
          <a href="#">Rome</a>
        </li>
          <li class="breadcrumb-item">
          <a href="#">Mome</a>
        </li>
      </ol>
     </div>
  </div>
  <div class="col-4">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
         <li class="breadcrumb-item">
          <a href="#">Gome</a>
        </li>
          <li class="breadcrumb-item">
          <a href="#">Rome</a>
        </li>
          <li class="breadcrumb-item">
          <a href="#">Mome</a>
        </li>
      </ol>
  </div>
<hr>
<div class="col-12">
  <button class="btn btn-primary rounded-pill m-3">Click me</button></div>
<div class="alert alert-warning">
  <h6 class="mb-2">Geloo <span class="badge text-bg-danger rounded-pill text-uppercase">new</span></h6>
<p class="m-0">This is info</p>
</div>



  <div class="row gx-3 gy-1"> 
    <div class="col-4">
  <section >
<div class="card bg-dark">
   <img class="card-img-top" src="https://picsum.photos/400/200?random=1" alt=" Product photo">
    <div class="card-body">
     <div class="card-title text-bg-primary">
      <h5>Product1</h5>
      </div>
      <p class="text-bg-secondary">hiaetsrdyfuughyijokpl</p>
      <a href="/summary" class="btn btn-outline-primary">open</a><br><br>
      <p class="text-bg-info">jnkjxbnkbjchghbxkjnfjkxhfgd</p>
    </div>
</div>
  </section>
  </div> 



<div class="list-group "></div>
<div class="list-group-item text-bg-danger">Hello1
<div class="list-group">
<div class="list-group-item text-bg-info">Hello1.1</div>
<div class="list-group-item text-bg-warning">Hello1.2</div>
</div></div>
<div class="list-group-item text-bg-dark">Rello2</div>
<div class="list-group-item text-bg-secondary">Fello3</div>
</div>


<section class="col-12">
<div class="row g-2 gy-1">
  <div class="col-3 gx-1">
<div class="card text-bg-success">
  <div class="card-header text-center">Header</div>
  <div class="card-body text-center">
    <h6 class="card-title">Title</h6>
    <p>This is content</p>
    <button class="btn btn-light">click</button><br><br>
    <div class="card-footer text-center">footer</div>
</div>
</div>
</div>
<div class="col-3">
<div class="card text-bg-success">
  <div class="card-header text-center">Header</div>
  <div class="card-body text-center">
    <h6 class="card-title">Title</h6>
    <p>This is content</p>
    <button class="btn btn-light">click</button><br><br>
    <div class="card-footer text-center">footer</div>
</div>
</div>
</div>
<div class="col-3">
<div class="card text-bg-success">
  <div class="card-header text-center">Header</div>
  <div class="card-body text-center">
    <h6 class="card-title">Title</h6>
    <p>This is content</p>
    <button class="btn btn-light">click</button><br><br>
    <div class="card-footer text-center">footer</div>
</div>
</div>
</div>
<div class="col-3">
<div class="card text-bg-success">
  <div class="card-header text-center">Header</div>
  <div class="card-body text-center">
    <h6 class="card-title">Title</h6>
    <p>This is content</p>
    <button class="btn btn-light">click</button><br><br>
    <div class="card-footer text-center">footer</div>
</div>
</div>
</div>
  </section>
 


<br>
<br>
<br>


<br>


<h5>Menu</h5>
<ul class="list-group">
<li class="list-group-item">Hello1
<a href="#" class="btn btn-link">Home page</a></li>
<li class="list-group-item">Hello1
<a href="#" class="btn btn-link">Summary page</a></li>
<li class="list-group-item">Hello1
<a href="#" class="btn btn-link">Skills  page</a></li>
</ul>

<br>

<div class="card">
   <div class="card-header">
    <div class="display-6">Menu</div>
   </div>
<ul class="list-group">
<li class="list-group-item">
<a href="#" class="btn btn-link">Home page</a></li>
<li class="list-group-item">
<a href="#" class="btn btn-link">Summary page</a></li>
<li class="list-group-item">
<a href="#" class="btn btn-link">Skills  page</a></li>
</ul>
<div class="card-footer">
  <button class="btn btn-dark btn-sm">UPD</button>
</div>
</div>



<br><br><br>



<table class="table table-stiped table-bordered text-bg-success">
<thead>
  <tr>
    <th>
      #id
    </th>
    <th>name</th>
     <th>age</th>
       </tr>
</thead>

<tbody>
  <tr>
    <th>1</th>
    <td>lina</td>
    <td>32</td>
  </tr>
</tbody></table>

<br><br><br>




<br>
<br><br><br>

<div class="row g-5 gr-1">
  <div class="col-4">
<div class="card text-bg-success">
  <div class="card-header text-center">Header</div>
  <div class="card-body text-center">
    <h6 class="card-title">Title</h6>
    <p>This is content</p>
    <button class="btn btn-light">click</button><br><br>
    <div class="card-footer text-center">footer</div>
</div>
</div>
</div>
<div class="col-4">
<div class="card text-bg-success">
  <div class="card-header text-center">Header</div>
  <div class="card-body text-center">
    <h6 class="card-title">Title</h6>
    <p>This is content</p>
    <button class="btn btn-light">click</button><br><br>
    <div class="card-footer text-center">footer</div>
</div>
</div>
</div>
<div class="col-4">
<div class="card text-bg-success">
  <div class="card-header text-center">Header</div>
  <div class="card-body text-center">
    <h6 class="card-title">Title</h6>
    <p>This is content</p>
    <button class="btn btn-light">click</button><br><br>
    <div class="card-footer text-center">footer</div>
</div>
</div>
</div>
<div class="col-4">
<div class="card text-bg-success">
  <div class="card-header text-center">Header</div>
  <div class="card-body text-center">
    <h6 class="card-title">Title</h6>
    <p>This is content</p>
    <button class="btn btn-light">click</button><br><br>
    <div class="card-footer text-center">footer</div>
</div>
</div>
</div>
<div class="col-4">
<div class="card text-bg-success">
  <div class="card-header text-center">Header</div>
  <div class="card-body text-center">
    <h6 class="card-title">Title</h6>
    <p>This is content</p>
    <button class="btn btn-light">click</button><br><br>
    <div class="card-footer text-center">footer</div>
</div>
</div>
</div>
<div class="col-4">
<div class="card text-bg-success">
  <div class="card-header text-center">Header</div>
  <div class="card-body text-center">
    <h6 class="card-title">Title</h6>
    <p>This is content</p>
    <button class="btn btn-light">click</button><br><br>
    <div class="card-footer text-center">footer</div>
</div>
</div>
</div>

</div>
</main>


<h1 class="text-center text-uppercase" >Hello </h1>
<h2 class="text-end text-lowercase">hi</h2>
<h3 class="text-start text-capitalize">hoy</h3>
<hr>
<div class="display-1 text-muted">Hello </div>
<div class="display-2">hi</div>
<div class="display-3">hoy</div>
<hr>
<div class="text-end">something
 <span class="text-muted"> muted</span>  
 <hr>

<botton class="btn btn-primary">
<span class="text-uppercase">click here!</span>
</botton>

<botton class="btn btn-secondary">
<span class="text-uppercase">you can click here</span>
</botton>


  
<botton class="btn btn-danger">
<span class="text-uppercase">ahtung</span>
</botton>

<botton class="btn btn-success">
<span class="text-uppercase">Uwi</span>
</botton>

<botton class="btn btn-btn-lg">
<span class="text-uppercase">warning</span>
</botton>
<botton class="btn btn-info">
<span class="text-uppercase">info</span>
</botton>
<botton class="btn btn-light">
<span class="text-uppercase">light</span>
</botton>
<botton class="btn btn-dark">
<span class="text-uppercase">dark</span>
</botton>

<botton class="btn btn-link">
<span class="text-uppercase">link</span>
</botton>
<a href="#" class="btn btn-link">linkom</a>

</div>
<hr>
<p class="text-primary">primary</p>
<p class="text-secondary">secondary</p>
<p class="text-danger">danger</p>
<p class="text-success">success</p>
<p class="text-warning">warning</p>
<p class="text-info">info</p>
<p class="text-light; color: yellow">light</p>
<p class="text-dark">dark</p>
<hr>
<botton class="btn btn-outline-primary btn-lg">nn</botton>
<botton class="btn btn-outline-warning">warning</botton>
<botton class="btn btn-outline-danger btn-sm">danger</botton>
<hr>

<div class="card">
    <div class="card-body">
        <botton class="btn btn-outline-primary btn-lg">nn</botton>
<botton class="btn btn-outline-warning">warning</botton>
<botton class="btn btn-outline-danger btn-sm">danger</botton>
    </div>
    </div>