  

  <div class="row">
     <div class="col-12 mb-5">
       <div class="nav nav-tabs">
        <div class="nav-item">
         <a href="/index" class="nav-link active">main</a>
        </div>
      <div class="nav-item">
    <a href="/summary" class="nav-link active">Summary</a>
  </div>
    <div class="nav-item">
        <a href="/skills" class="nav-link active">Skills</a>
   </div>
     <div class="nav-item">
        <a href="/education" class="nav-link active">Education</a>
   </div>
     <div class="nav-item">
        <a href="/work" class="nav-link active">Work</a>
   </div>
  </div>
  </div>
  {{!-- <nav>
    
    {{>link text="Main" href="/index" line=true }}
    {{>link text="Summary" href="/summary" line=true }}
    {{>link text="Skills" href="/skills" line=true }}
    {{>link text="Education" href="/education" line=true }}
    {{>link text="Work" href="/work" line=true noline=true }}
  </nav> --}}
  <hr>
  <div class="row ms-1">
      <ol class="breadcrumb text-muted text-btn-sm">
    
          <li class="breadcrumb-item">
          <a href="/person">Person</a>
        </li>
       
         <li class="breadcrumb-item">
          <a href="/car">Car</a>
        </li>
                <li class="breadcrumb-item">
          <a href="/facebook">Facebook</a>
        </li>

         <li class="breadcrumb-item">
          <a href="/js">Js</a>
        </li>
         <li class="breadcrumb-item">
          <a href="/web">Web</a>
        </li>
                <li class="breadcrumb-item">
          <a href="/task21">Task21</a>
        </li>
             <li class="breadcrumb-item">
          <a href="/mac">Mac</a>
        </li>
         <li class="breadcrumb-item">
          <a href="/shoporder">Shoporder</a>
        </li>
          <li class="breadcrumb-item">
          <a href="/shophome">Shophome</a>
        </li>
          <li class="breadcrumb-item">
          <a href="/shopreview">Shopreview</a>
        </li>
             <li class="breadcrumb-item">
          <a href="/shopcart">Shopcart</a>
        </li>
          <li class="breadcrumb-item">
          <a href="/shopcatalog">Shopcatalog</a>
        </li>
      </ol>
  </div>
   <hr>